# Summary Report – Maji Ndogo Water Access Audit (Part 4)

## 1. Introduction
This notebook summarizes the final analysis and action plan for Maji Ndogo’s water access project. We move from data insights to practical solutions, and finally to a database implementation plan that engineers can use to track progress.

## 2. Key Insights

##### 1. Most water sources are rural in Maji Ndogo.
##### 2. 43% of our people are using shared taps. On average, ~2000 people share one tap.
##### 3. 31% of our population has water infrastructure in their homes, but within that group:

                 - 45% face non-functional systems due to broken pipes, pumps, and reservoirs.
                 - Towns like Amina, rural Amanzi, Akatsi, and Hawassa are most affected.
##### 4. 18% of our people are using wells, but only 28% of these wells are clean.

                 - Contaminated wells are concentrated in Hawassa, Kilimani, and Akatsi.
##### 5. Citizens face long wait times for water, averaging more than 120 minutes:

                 - Queues are longest on Saturdays, mornings, and evenings.
                 - Queues are shortest on Wednesdays and Sundays.

## 3. Plan of Action

### Strategic Priorities

##### 1. Focus efforts on improving water sources that affect the most people.

   - Shared taps first, since they serve the largest populations.
##### 2. Wells are a good source, but many are contaminated.
    
   - Installing filters will benefit many communities.
    
##### 3. Fixing existing infrastructure will help thousands at once.
    
   - Restoring running water reduces queues and improves reliability.
    
##### 4. Installing taps in homes is resource-intensive.
    
   - For now, prioritize shared taps and broken infrastructure.
    
##### 5. Most water sources are rural.
    
   - Teams must prepare for logistical challenges: poor roads, limited supplies, and labor shortages.

## 4. Practical Solutions

### Tactical Steps

##### 1. **Rivers**  
   - Short-term: Dispatch trucks to provide water.

   - Long-term: Drill wells.  

   - Target province: Sokoto (largest population relying on river water).

##### 2. **Wells**  
   - Install filters: 

     - Reverse Osmosis (RO) for chemical contamination.  

     - UV filters for biological contamination. 
                  
   - Long-term: Investigate causes of pollution.

##### 3. **Shared Taps**  
   - Short-term: Send water tankers to busiest taps on peak days. 
                  
   - Use queue time pivot table to identify busiest times.  
                  
   - Long-term: Install additional taps.  
                  
   - UN standard: Queue times should be <30 minutes. 
                  
   - Priority towns: Bello, Abidjan, Zuri.

##### 4. **Broken Infrastructure**  
   - Repair reservoirs, pumps, and pipes. 
                  
   - High-impact towns: Amina, Lusaka, Zuri, Djenne, rural Amanzi.
                  
   - One repair can restore water to thousands of households.

## 5. Database Implementation

We need a table to track engineering projects, their progress, and completion dates.

In [10]:
%load_ext sql
%sql mysql+pymysql://root:02510251@localhost:3306/md_water_services

Connecting to 'mysql+pymysql://root:***@localhost:3306/md_water_services'

In [11]:
%%sql

CREATE TABLE Project_progress (
    project_id INT PRIMARY KEY AUTO_INCREMENT,
    street_address VARCHAR(255),
    town_name VARCHAR(100),
    province_name VARCHAR(100),
    source_type VARCHAR(50),
    action_required VARCHAR(255),
    status VARCHAR(50) DEFAULT 'Pending',
    completion_date DATE,
    upgrade_notes TEXT
);

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

In [12]:
%%sql
INSERT INTO Project_progress (street_address, town_name, province_name, source_type, action_required)
VALUES
('Main Rd, Bahari', 'Bahari', 'Sokoto', 'river', 'Drill well and provide temporary water trucks'),
('Central St, Amina', 'Amina', 'Amanzi', 'tap_in_home_broken', 'Repair broken home taps and reservoir'),
('Market Sq, Bello', 'Bello', 'Amanzi', 'shared_tap', 'Install additional taps and send tankers');

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

3 rows affected.

++
||
++
++

## Populating the Project_progress table with actionable improvements. 
Let’s carefully build the query step by step, filling in the blanks and using CASE logic for each source type.

#### Step 1: Base Query with Joins
We join water_source, location, visits, and well_pollution:

In [19]:
%%sql
-- Project_progress_query (base)
SELECT
    l.address,
    l.town_name,
    l.province_name,
    ws.source_id,
    ws.type_of_water_source,
    v.time_in_queue,
    wp.results
FROM water_source ws
LEFT JOIN well_pollution wp ON ws.source_id = wp.source_id
INNER JOIN visits v ON ws.source_id = v.source_id
INNER JOIN location l ON l.location_id = v.location_id
WHERE v.visit_count = 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

39650 rows affected.

+---------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+
|          address          | town_name | province_name |  source_id   | type_of_water_source | time_in_queue |         results          |
+---------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+
|  36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |       15      |           None           |
|   129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         |       0       | Contaminated: Biological |
|   18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |       62      |           None           |
|     100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         |       0       | Contaminated: Biological |
|      1 Savanna Street     |   Rural   |     Akatsi    | AkRu03357224 |      shared_tap      |       28      |           None           |
|  26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |       9       |           None           |
|    104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |       0       |           None           |
| 145 Sungura Amanpour Road |   Rural   |    Kilimani   | KiRu28520224 |     tap_in_home      |       0       |           None           |
|      117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |       0       |  Contaminated: Chemical  |
| 33 Angélique Kidjo Avenue |   Dahabu  |     Amanzi    | AmDa12214224 |     tap_in_home      |       0       |           None           |
+---------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+
Truncated to displaylimit of 10.

### Step 2: Filter Sources That Need Improvement
We only want sources that need improvement:

In [21]:
%%sql
SELECT l.address, l.town_name, l.province_name,
       ws.source_id, ws.type_of_water_source,
       v.time_in_queue, wp.results
FROM water_source ws
LEFT JOIN well_pollution wp ON ws.source_id = wp.source_id
INNER JOIN visits v ON ws.source_id = v.source_id
INNER JOIN location l ON l.location_id = v.location_id
WHERE v.visit_count = 1
  AND (
        (ws.type_of_water_source = 'well' AND wp.results != 'Clean')
        OR ws.type_of_water_source = 'river'
        OR ws.type_of_water_source = 'tap_in_home_broken'
        OR (ws.type_of_water_source = 'shared_tap' AND v.time_in_queue >= 30)
      );

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25334 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source | time_in_queue |         results          |
+--------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |       15      |           None           |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         |       0       | Contaminated: Biological |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |       62      |           None           |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         |       0       | Contaminated: Biological |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |       9       |           None           |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |       0       |           None           |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |       0       |  Contaminated: Chemical  |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |      240      |           None           |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         |       0       | Contaminated: Biological |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |       0       |  Contaminated: Chemical  |
+--------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+
Truncated to displaylimit of 10.

### Step 3–6: Add CASE Logic for Improvements

In [23]:
%%sql
SELECT l.address, l.town_name, l.province_name,
       ws.source_id, ws.type_of_water_source,
       v.time_in_queue, wp.results,
       CASE
           WHEN ws.type_of_water_source = 'well' AND wp.results = 'Contaminated: Chemical'
               THEN 'Install RO filter'
           WHEN ws.type_of_water_source = 'well' AND wp.results = 'Contaminated: Biological'
               THEN 'Install UV and RO filter'
           WHEN ws.type_of_water_source = 'river'
               THEN 'Drill well'
           WHEN ws.type_of_water_source = 'shared_tap' AND v.time_in_queue >= 30
               THEN CONCAT('Install ', FLOOR(v.time_in_queue / 30), ' taps nearby')
           WHEN ws.type_of_water_source = 'tap_in_home_broken'
               THEN 'Diagnose local infrastructure'
           ELSE NULL
       END AS Improvement
FROM water_source ws
LEFT JOIN well_pollution wp ON ws.source_id = wp.source_id
INNER JOIN visits v ON ws.source_id = v.source_id
INNER JOIN location l ON l.location_id = v.location_id
WHERE v.visit_count = 1
  AND (
        (ws.type_of_water_source = 'well' AND wp.results != 'Clean')
        OR ws.type_of_water_source = 'river'
        OR ws.type_of_water_source = 'tap_in_home_broken'
        OR (ws.type_of_water_source = 'shared_tap' AND v.time_in_queue >= 30)
      );

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25334 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+-------------------------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source | time_in_queue |         results          |          Improvement          |
+--------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+-------------------------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |       15      |           None           |           Drill well          |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         |       0       | Contaminated: Biological |    Install UV and RO filter   |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |       62      |           None           |     Install 2 taps nearby     |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         |       0       | Contaminated: Biological |    Install UV and RO filter   |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |       9       |           None           |           Drill well          |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |       0       |           None           | Diagnose local infrastructure |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |       0       |  Contaminated: Chemical  |       Install RO filter       |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |      240      |           None           |     Install 8 taps nearby     |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         |       0       | Contaminated: Biological |    Install UV and RO filter   |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |       0       |  Contaminated: Chemical  |       Install RO filter       |
+--------------------------+-----------+---------------+--------------+----------------------+---------------+--------------------------+-------------------------------+
Truncated to displaylimit of 10.

### Step 7: Insert into Project_progress

In [30]:
%%sql
INSERT INTO Project_progress (
    town_name,
    province_name,
    source_type,
    action_required
)
SELECT
    l.town_name,
    l.province_name,
    ws.type_of_water_source,
    CASE
        WHEN ws.type_of_water_source = 'well' AND wp.results = 'Contaminated: Chemical'
            THEN 'Install RO filter'
        WHEN ws.type_of_water_source = 'well' AND wp.results = 'Contaminated: Biological'
            THEN 'Install UV and RO filter'
        WHEN ws.type_of_water_source = 'river'
            THEN 'Drill well'
        WHEN ws.type_of_water_source = 'shared_tap' AND v.time_in_queue >= 30
            THEN CONCAT('Install ', FLOOR(v.time_in_queue / 30), ' taps nearby')
        WHEN ws.type_of_water_source = 'tap_in_home_broken'
            THEN 'Diagnose local infrastructure'
    END
FROM water_source ws
LEFT JOIN well_pollution wp ON ws.source_id = wp.source_id
INNER JOIN visits v ON ws.source_id = v.source_id
INNER JOIN location l ON l.location_id = v.location_id
WHERE v.visit_count = 1
  AND (
        (ws.type_of_water_source = 'well' AND wp.results != 'Clean')
        OR ws.type_of_water_source = 'river'
        OR ws.type_of_water_source = 'tap_in_home_broken'
        OR (ws.type_of_water_source = 'shared_tap' AND v.time_in_queue >= 30)
      );

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25334 rows affected.

++
||
++
++

In [31]:
%%sql
DESCRIBE Project_progress;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

9 rows affected.

+-----------------+--------------+------+-----+---------+----------------+
|      Field      |     Type     | Null | Key | Default |     Extra      |
+-----------------+--------------+------+-----+---------+----------------+
|    project_id   |     int      |  NO  | PRI |   None  | auto_increment |
|  street_address | varchar(255) | YES  |     |   None  |                |
|    town_name    | varchar(100) | YES  |     |   None  |                |
|  province_name  | varchar(100) | YES  |     |   None  |                |
|   source_type   | varchar(50)  | YES  |     |   None  |                |
| action_required | varchar(255) | YES  |     |   None  |                |
|      status     | varchar(50)  | YES  |     | Pending |                |
| completion_date |     date     | YES  |     |   None  |                |
|  upgrade_notes  |     text     | YES  |     |   None  |                |
+-----------------+--------------+------+-----+---------+----------------+

### Step 4: Monitor Progress

In [33]:
%%sql
UPDATE Project_progress
SET status = 'Complete',
    completion_date = '2025-11-20',
    upgrade_notes = 'Work completed and verified by field team'
WHERE project_id = 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

++
||
++
++

This project began with fragmented data across multiple tables and ended with a unified, actionable plan to improve water access in Maji Ndogo. Through careful joins, filters, and pivot tables, we identified key infrastructure failures, contamination risks, and queue time bottlenecks. We translated these findings into a prioritized action plan and created the `Project_progress` table to help engineering teams track repairs and upgrades. This ensures that our analysis doesn’t just sit in a spreadsheet — it drives real-world change.