## Weaving the data threads of Maji Ndogo's narrative

#### Step 1: Load Auditor Report CSV in Jupyter

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.4-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mella\anaconda3\envs\sql_packages\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\mella\anaconda3\envs\sql_packages\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.8/11.0 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/11.0 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/11.0 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.0 MB 889.0 kB/s eta 0:00:11
   ---- ----------------------------------- 1.3/11.0 MB 889.0 kB/s eta 0:00:11
   ----- ---------------------------------- 1.6/11.0 MB 878.5 kB/s eta 0:00:11
   ----- ---------------------------------- 1.6/11.0 MB 878.5 kB/s eta 0:00:11
   ------ --------------------------------- 1.8/11.0 MB 811.7 kB/s eta 0:00:12
   ------ --------------------------------- 1.8/11.0 MB 811.7 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/11.0 MB 774.2 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/11.0 MB 774.2 kB/s eta 0:00:12
   -------- ------------------------------- 2.4/11.0 MB 746.6 kB/s eta 0:00:12
   -------- ------------------------------- 2.4/11.0 MB 746.6 kB/s eta 0:00:12
   --------- ------------------------------ 2.6/11.0 MB 726.3 kB/s eta 0:00:12
   --------- ------------------------------ 2.6/11.0 MB 726.3 kB/s eta 0:00:12
   ---------- ----------------------------- 2.9/11.0 MB 711.5 kB/s eta 0:00:12
   ---------- ----------------------------- 2.9/11.0 MB 711.5 kB/s eta 0:00:12
   ---------- ----------------------------- 2.9/11.0 MB 711.5 kB/s eta 0:00:12
   ----------- ---------------------------- 3.1/11.0 MB 698.4 kB/s eta 0:00:12
   ----------- ---------------------------- 3.1/11.0 MB 698.4 kB/s eta 0:00:12
   ------------ --------------------------- 3.4/11.0 MB 688.5 kB/s eta 0:00:12
   ------------ --------------------------- 3.4/11.0 MB 688.5 kB/s eta 0:00:12
   ------------- -------------------------- 3.7/11.0 MB 680.3 kB/s eta 0:00:11
   ------------- -------------------------- 3.7/11.0 MB 680.3 kB/s eta 0:00:11
   -------------- ------------------------- 3.9/11.0 MB 670.7 kB/s eta 0:00:11
   -------------- ------------------------- 3.9/11.0 MB 670.7 kB/s eta 0:00:11
   --------------- ------------------------ 4.2/11.0 MB 664.7 kB/s eta 0:00:11
   --------------- ------------------------ 4.2/11.0 MB 664.7 kB/s eta 0:00:11
   ---------------- ----------------------- 4.5/11.0 MB 659.8 kB/s eta 0:00:10
   ---------------- ----------------------- 4.5/11.0 MB 659.8 kB/s eta 0:00:10
   ----------------- ---------------------- 4.7/11.0 MB 654.8 kB/s eta 0:00:10
   ----------------- ---------------------- 4.7/11.0 MB 654.8 kB/s eta 0:00:10
   ------------------ --------------------- 5.0/11.0 MB 652.3 kB/s eta 0:00:10
   ------------------ --------------------- 5.0/11.0 MB 652.3 kB/s eta 0:00:10
   ------------------- -------------------- 5.2/11.0 MB 648.9 kB/s eta 0:00:09
   ------------------- -------------------- 5.2/11.0 MB 648.9 kB/s eta 0:00:09
   -------------------- ------------------- 5.5/11.0 MB 646.6 kB/s eta 0:00:09
   -------------------- ------------------- 5.5/11.0 MB 646.6 kB/s eta 0:00:09
   -------------------- ------------------- 5.5/11.0 MB 646.6 kB/s eta 0:00:09
   -------------------- ------------------- 5.8/11.0 MB 643.2 kB/s eta 0:00:09
   -------------------- ------------------- 5.8/11.0 MB 643.2 kB/s eta 0:00:09
   --------------------- ------------------ 6.0/11.0 MB 640.8 kB/s eta 0:00:08
   --------------------- ------------------ 6.0/11.0 MB 640.8 kB/s eta 0:00:08
   ---------------------- ----------------- 6.3/11.0 MB 638.4 kB/s eta 0:00:08
   ---------------------- ----------------- 6.3/11.0 MB 638.4 kB/s eta 0:00:08
   ----------------------- ---------------- 6.6/11.0 MB 636.9 kB/s eta 0:00:07
   ----------------------- ---------------- 6.6/11.0 MB 636.9 kB/s eta 0:00:07
   ------------------------ --------------- 6.8/11.0 MB 635.2 kB/s eta 0:00:07
   ------------------------ --------------- 6.8/11.0 MB 635.2 kB/s eta 0:00:07
   ------------------------- -------------- 7.1/11.0 MB 631.2 kB/s eta 0:00:07
   ------------------------- -------------- 7.1/11.0 MB 631.2 kB/s eta 0:00:07
   -------------------------- ------------- 7.3/11.0 MB 629.9 kB/s eta 0:00:06
   -------------------------- ------------- 7.3/11.0 MB 629.9 kB/s eta 0:00:06
   -------------------------- ------------- 7.3/11.0 MB 629.9 kB/s eta 0:00:06
   --------------------------- ------------ 7.6/11.0 MB 626.9 kB/s eta 0:00:06
   --------------------------- ------------ 7.6/11.0 MB 626.9 kB/s eta 0:00:06
   ---------------------------- ----------- 7.9/11.0 MB 622.2 kB/s eta 0:00:06
   ---------------------------- ----------- 7.9/11.0 MB 622.2 kB/s eta 0:00:06
   ----------------------------- ---------- 8.1/11.0 MB 618.8 kB/s eta 0:00:05
   ----------------------------- ---------- 8.1/11.0 MB 618.8 kB/s eta 0:00:05
   ----------------------------- ---------- 8.1/11.0 MB 618.8 kB/s eta 0:00:05
   ------------------------------ --------- 8.4/11.0 MB 617.7 kB/s eta 0:00:05
   ------------------------------ --------- 8.4/11.0 MB 617.7 kB/s eta 0:00:05
   ------------------------------- -------- 8.7/11.0 MB 617.9 kB/s eta 0:00:04
   ------------------------------- -------- 8.7/11.0 MB 617.9 kB/s eta 0:00:04
   -------------------------------- ------- 8.9/11.0 MB 617.2 kB/s eta 0:00:04
   -------------------------------- ------- 8.9/11.0 MB 617.2 kB/s eta 0:00:04
   --------------------------------- ------ 9.2/11.0 MB 615.0 kB/s eta 0:00:03
   --------------------------------- ------ 9.2/11.0 MB 615.0 kB/s eta 0:00:03
   ---------------------------------- ----- 9.4/11.0 MB 614.5 kB/s eta 0:00:03
   ---------------------------------- ----- 9.4/11.0 MB 614.5 kB/s eta 0:00:03
   ----------------------------------- ---- 9.7/11.0 MB 613.8 kB/s eta 0:00:03
   ----------------------------------- ---- 9.7/11.0 MB 613.8 kB/s eta 0:00:03
   ------------------------------------ --- 10.0/11.0 MB 613.7 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 613.7 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 613.1 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 613.1 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 613.1 kB/s eta 0:00:02
   -------------------------------------- - 10.5/11.0 MB 612.9 kB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 612.9 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 612.4 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 612.4 kB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 610.8 kB/s  0:00:17
Downloading numpy-2.3.4-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
    --------------------------------------- 0.3/12.8 MB ? eta -:--:--
    --------------------------------------- 0.3/12.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.8 MB 805.3 kB/s eta 0:00:16
   - -------------------------------------- 0.5/12.8 MB 805.3 kB/s eta 0:00:16
   -- ------------------------------------- 0.8/12.8 MB 675.3 kB/s eta 0:00:18
   -- ------------------------------------- 0.8/12.8 MB 675.3 kB/s eta 0:00:18
   --- ------------------------------------ 1.0/12.8 MB 651.0 kB/s eta 0:00:19
   --- ------------------------------------ 1.0/12.8 MB 651.0 kB/s eta 0:00:19
   ---- ----------------------------------- 1.3/12.8 MB 629.5 kB/s eta 0:00:19
   ---- ----------------------------------- 1.3/12.8 MB 629.5 kB/s eta 0:00:19
   ---- ----------------------------------- 1.6/12.8 MB 630.7 kB/s eta 0:00:18
   ---- ----------------------------------- 1.6/12.8 MB 630.7 kB/s eta 0:00:18
   ----- ---------------------------------- 1.8/12.8 MB 623.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.8/12.8 MB 623.6 kB/s eta 0:00:18
   ------ --------------------------------- 2.1/12.8 MB 620.5 kB/s eta 0:00:18
   ------ --------------------------------- 2.1/12.8 MB 620.5 kB/s eta 0:00:18
   ------- -------------------------------- 2.4/12.8 MB 616.8 kB/s eta 0:00:17
   ------- -------------------------------- 2.4/12.8 MB 616.8 kB/s eta 0:00:17
   -------- ------------------------------- 2.6/12.8 MB 615.2 kB/s eta 0:00:17
   -------- ------------------------------- 2.6/12.8 MB 615.2 kB/s eta 0:00:17
   --------- ------------------------------ 2.9/12.8 MB 613.1 kB/s eta 0:00:17
   --------- ------------------------------ 2.9/12.8 MB 613.1 kB/s eta 0:00:17
   --------- ------------------------------ 2.9/12.8 MB 613.1 kB/s eta 0:00:17
   --------- ------------------------------ 3.1/12.8 MB 611.7 kB/s eta 0:00:16
   --------- ------------------------------ 3.1/12.8 MB 611.7 kB/s eta 0:00:16
   ---------- ----------------------------- 3.4/12.8 MB 610.9 kB/s eta 0:00:16
   ---------- ----------------------------- 3.4/12.8 MB 610.9 kB/s eta 0:00:16
   ----------- ---------------------------- 3.7/12.8 MB 609.7 kB/s eta 0:00:15
   ----------- ---------------------------- 3.7/12.8 MB 609.7 kB/s eta 0:00:15
   ------------ --------------------------- 3.9/12.8 MB 608.0 kB/s eta 0:00:15
   ------------ --------------------------- 3.9/12.8 MB 608.0 kB/s eta 0:00:15
   ------------- -------------------------- 4.2/12.8 MB 608.1 kB/s eta 0:00:15
   ------------- -------------------------- 4.2/12.8 MB 608.1 kB/s eta 0:00:15
   ------------- -------------------------- 4.5/12.8 MB 607.5 kB/s eta 0:00:14
   ------------- -------------------------- 4.5/12.8 MB 607.5 kB/s eta 0:00:14
   -------------- ------------------------- 4.7/12.8 MB 606.8 kB/s eta 0:00:14
   -------------- ------------------------- 4.7/12.8 MB 606.8 kB/s eta 0:00:14
   --------------- ------------------------ 5.0/12.8 MB 606.7 kB/s eta 0:00:13
   --------------- ------------------------ 5.0/12.8 MB 606.7 kB/s eta 0:00:13
   ---------------- ----------------------- 5.2/12.8 MB 606.1 kB/s eta 0:00:13
   ---------------- ----------------------- 5.2/12.8 MB 606.1 kB/s eta 0:00:13
   ----------------- ---------------------- 5.5/12.8 MB 605.7 kB/s eta 0:00:13
   ----------------- ---------------------- 5.5/12.8 MB 605.7 kB/s eta 0:00:13
   ----------------- ---------------------- 5.5/12.8 MB 605.7 kB/s eta 0:00:13
   ------------------ --------------------- 5.8/12.8 MB 605.6 kB/s eta 0:00:12
   ------------------ --------------------- 5.8/12.8 MB 605.6 kB/s eta 0:00:12
   ------------------ --------------------- 6.0/12.8 MB 604.8 kB/s eta 0:00:12
   ------------------ --------------------- 6.0/12.8 MB 604.8 kB/s eta 0:00:12
   ------------------- -------------------- 6.3/12.8 MB 602.6 kB/s eta 0:00:11
   ------------------- -------------------- 6.3/12.8 MB 602.6 kB/s eta 0:00:11
   -------------------- ------------------- 6.6/12.8 MB 602.4 kB/s eta 0:00:11
   -------------------- ------------------- 6.6/12.8 MB 602.4 kB/s eta 0:00:11
   --------------------- ------------------ 6.8/12.8 MB 600.9 kB/s eta 0:00:10
   --------------------- ------------------ 6.8/12.8 MB 600.9 kB/s eta 0:00:10
   ---------------------- ----------------- 7.1/12.8 MB 600.3 kB/s eta 0:00:10
   ---------------------- ----------------- 7.1/12.8 MB 600.3 kB/s eta 0:00:10
   ---------------------- ----------------- 7.3/12.8 MB 601.5 kB/s eta 0:00:10
   ---------------------- ----------------- 7.3/12.8 MB 601.5 kB/s eta 0:00:10
   ---------------------- ----------------- 7.3/12.8 MB 601.5 kB/s eta 0:00:10
   ----------------------- ---------------- 7.6/12.8 MB 592.1 kB/s eta 0:00:09
   ----------------------- ---------------- 7.6/12.8 MB 592.1 kB/s eta 0:00:09
   ------------------------ --------------- 7.9/12.8 MB 599.3 kB/s eta 0:00:09
   ------------------------ --------------- 7.9/12.8 MB 599.3 kB/s eta 0:00:09
   ------------------------- -------------- 8.1/12.8 MB 598.5 kB/s eta 0:00:08
   ------------------------- -------------- 8.1/12.8 MB 598.5 kB/s eta 0:00:08
   -------------------------- ------------- 8.4/12.8 MB 597.9 kB/s eta 0:00:08
   -------------------------- ------------- 8.4/12.8 MB 597.9 kB/s eta 0:00:08
   -------------------------- ------------- 8.4/12.8 MB 597.9 kB/s eta 0:00:08
   --------------------------- ------------ 8.7/12.8 MB 590.8 kB/s eta 0:00:07
   --------------------------- ------------ 8.7/12.8 MB 590.8 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/12.8 MB 589.7 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/12.8 MB 589.7 kB/s eta 0:00:07
   ---------------------------- ----------- 9.2/12.8 MB 590.0 kB/s eta 0:00:07
   ---------------------------- ----------- 9.2/12.8 MB 590.0 kB/s eta 0:00:07
   ----------------------------- ---------- 9.4/12.8 MB 590.5 kB/s eta 0:00:06
   ----------------------------- ---------- 9.4/12.8 MB 590.5 kB/s eta 0:00:06
   ------------------------------ --------- 9.7/12.8 MB 591.3 kB/s eta 0:00:06
   ------------------------------ --------- 9.7/12.8 MB 591.3 kB/s eta 0:00:06
   ------------------------------- -------- 10.0/12.8 MB 591.4 kB/s eta 0:00:05
   ------------------------------- -------- 10.0/12.8 MB 591.4 kB/s eta 0:00:05
   ------------------------------- -------- 10.2/12.8 MB 591.7 kB/s eta 0:00:05
   ------------------------------- -------- 10.2/12.8 MB 591.7 kB/s eta 0:00:05
   -------------------------------- ------- 10.5/12.8 MB 592.1 kB/s eta 0:00:04
   -------------------------------- ------- 10.5/12.8 MB 592.1 kB/s eta 0:00:04
   --------------------------------- ------ 10.7/12.8 MB 592.8 kB/s eta 0:00:04
   --------------------------------- ------ 10.7/12.8 MB 592.8 kB/s eta 0:00:04
   ---------------------------------- ----- 11.0/12.8 MB 592.8 kB/s eta 0:00:03
   ---------------------------------- ----- 11.0/12.8 MB 592.8 kB/s eta 0:00:03
   ---------------------------------- ----- 11.0/12.8 MB 592.8 kB/s eta 0:00:03
   ----------------------------------- ---- 11.3/12.8 MB 592.7 kB/s eta 0:00:03
   ----------------------------------- ---- 11.3/12.8 MB 592.7 kB/s eta 0:00:03
   ------------------------------------ --- 11.5/12.8 MB 592.9 kB/s eta 0:00:03
   ------------------------------------ --- 11.5/12.8 MB 592.9 kB/s eta 0:00:03
   ------------------------------------ --- 11.8/12.8 MB 592.2 kB/s eta 0:00:02
   ------------------------------------ --- 11.8/12.8 MB 592.2 kB/s eta 0:00:02
   ------------------------------------- -- 12.1/12.8 MB 592.4 kB/s eta 0:00:02
   ------------------------------------- -- 12.1/12.8 MB 592.4 kB/s eta 0:00:02
   -------------------------------------- - 12.3/12.8 MB 592.5 kB/s eta 0:00:01
   -------------------------------------- - 12.3/12.8 MB 592.5 kB/s eta 0:00:01
   ---------------------------------------  12.6/12.8 MB 592.5 kB/s eta 0:00:01
   ---------------------------------------  12.6/12.8 MB 592.5 kB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 589.3 kB/s  0:00:21
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]

In [3]:
import pandas as pd

In [6]:
auditor_df = pd.read_csv("Auditor_report - Auditor_report.csv.csv")

In [7]:
auditor_df.head()

,location_id,type_of_water_source,true_water_source_score,statements
0,SoRu34980,well,1,Residents admired the official's commitment to...
1,AkRu08112,well,3,Villagers spoke highly of the official's dedic...
2,AkLu02044,river,0,Villagers were touched by the official's inter...
3,AkHa00421,well,3,"Villagers were moved by the official's visit, ..."
4,SoRu35221,river,0,"A photographer's lens captures the queue, thou..."

In [9]:
%load_ext sql

In [10]:
%sql mysql+pymysql://root:02510251@localhost:3306/md_water_services

Connecting to 'mysql+pymysql://root:***@localhost:3306/md_water_services'

In [11]:
%%sql
DROP TABLE IF EXISTS auditor_report;

CREATE TABLE auditor_report (
  location_id VARCHAR(32),
  type_of_water_source VARCHAR(64),
  true_water_source_score INT DEFAULT NULL,
  statements VARCHAR(255)
);

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

In [12]:
from sqlalchemy import create_engine

# Replace with your actual credentials
engine = create_engine('mysql+pymysql://root:02510251@localhost:3306/md_water_services')

# Push the data into the auditor_report table
auditor_df.to_sql('auditor_report', con=engine, if_exists='replace', index=False)

1620

### Auditor vs Survey Score Comparison

We joined `auditor_report`, `visits`, and `water_quality` to compare independently measured scores with field survey subjective scores. This sets the foundation for identifying discrepancies and patterns in water quality assessments.

In [17]:
%%sql
SELECT
  visits.location_id AS location_id,
  visits.record_id,
  auditor_report.true_water_source_score AS auditor_score,
  water_quality.subjective_quality_score AS surveyor_score
FROM auditor_report
JOIN visits ON auditor_report.location_id = visits.location_id
JOIN water_quality ON visits.record_id = water_quality.record_id
LIMIT 10000;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

2698 rows affected.

+-------------+-----------+---------------+----------------+
| location_id | record_id | auditor_score | surveyor_score |
+-------------+-----------+---------------+----------------+
|  SoRu34980  |    5185   |       1       |       1        |
|  AkRu08112  |   59367   |       3       |       3        |
|  AkLu02044  |   37379   |       0       |       0        |
|  AkHa00421  |   51627   |       3       |       3        |
|  SoRu35221  |   28758   |       0       |       0        |
|  HaAm16170  |   31048   |       1       |       1        |
|  AkRu04812  |    1513   |       3       |       3        |
|  AkRu08304  |    1218   |       3       |       3        |
|  AkRu05107  |    8322   |       2       |       2        |
|  AkRu05215  |   21160   |       3       |       10       |
+-------------+-----------+---------------+----------------+
Truncated to displaylimit of 10.

#### Analysis Query 1: Agreement Check
Letâ€™s count how many scores match exactly:

In [26]:
%%sql
SELECT
  visits.location_id AS location_id,
  visits.record_id,
  auditor_report.true_water_source_score AS auditor_score,
  water_quality.subjective_quality_score AS surveyor_score
FROM auditor_report
JOIN visits ON auditor_report.location_id = visits.location_id
JOIN water_quality ON visits.record_id = water_quality.record_id
WHERE visits.visit_count = 1
LIMIT 10000;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1620 rows affected.

+-------------+-----------+---------------+----------------+
| location_id | record_id | auditor_score | surveyor_score |
+-------------+-----------+---------------+----------------+
|  SoRu34980  |    5185   |       1       |       1        |
|  AkRu08112  |   59367   |       3       |       3        |
|  AkLu02044  |   37379   |       0       |       0        |
|  AkHa00421  |   51627   |       3       |       3        |
|  SoRu35221  |   28758   |       0       |       0        |
|  HaAm16170  |   31048   |       1       |       1        |
|  AkRu04812  |    1513   |       3       |       3        |
|  AkRu08304  |    1218   |       3       |       3        |
|  AkRu05107  |    8322   |       2       |       2        |
|  AkRu05215  |   21160   |       3       |       10       |
+-------------+-----------+---------------+----------------+
Truncated to displaylimit of 10.

In [28]:
%%sql
SELECT COUNT(*) AS matching_scores
FROM auditor_report
JOIN visits ON auditor_report.location_id = visits.location_id
JOIN water_quality ON visits.record_id = water_quality.record_id
WHERE visits.visit_count = 1
  AND auditor_report.true_water_source_score = water_quality.subjective_quality_score;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+-----------------+
| matching_scores |
+-----------------+
|       1518      |
+-----------------+

#### Analysis Query 2: Disagreement Check
And how many scores differ:

In [27]:
%%sql
SELECT COUNT(*) AS mismatched_scores
FROM auditor_report
JOIN visits ON auditor_report.location_id = visits.location_id
JOIN water_quality ON visits.record_id = water_quality.record_id
WHERE visits.visit_count = 1
  AND auditor_report.true_water_source_score != water_quality.subjective_quality_score;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+-------------------+
| mismatched_scores |
+-------------------+
|        102        |
+-------------------+

#### Analysis Query 3: Score Difference Breakdown
To see how far apart the scores are:

In [29]:
%%sql
SELECT COUNT(*) AS mismatched_scores
FROM auditor_report
JOIN visits ON auditor_report.location_id = visits.location_id
JOIN water_quality ON visits.record_id = water_quality.record_id
WHERE visits.visit_count = 1
  AND auditor_report.true_water_source_score != water_quality.subjective_quality_score;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+-------------------+
| mismatched_scores |
+-------------------+
|        102        |
+-------------------+

#### Mismatched Records Table

In [30]:
%%sql
SELECT
  visits.location_id,
  visits.record_id,
  auditor_report.true_water_source_score AS auditor_score,
  water_quality.subjective_quality_score AS surveyor_score
FROM auditor_report
JOIN visits ON auditor_report.location_id = visits.location_id
JOIN water_quality ON visits.record_id = water_quality.record_id
WHERE visits.visit_count = 1
  AND auditor_report.true_water_source_score != water_quality.subjective_quality_score
LIMIT 10000;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

102 rows affected.

+-------------+-----------+---------------+----------------+
| location_id | record_id | auditor_score | surveyor_score |
+-------------+-----------+---------------+----------------+
|  AkRu05215  |   21160   |       3       |       10       |
|  KiRu29290  |    7938   |       3       |       10       |
|  KiHa22748  |   43140   |       9       |       10       |
|  SoRu37841  |   18495   |       6       |       10       |
|  KiRu27884  |   33931   |       1       |       10       |
|  KiZu31170  |   17950   |       9       |       10       |
|  KiZu31370  |   36864   |       3       |       10       |
|  AkRu06495  |   45924   |       2       |       10       |
|  HaRu17528  |   30524   |       1       |       10       |
|  SoRu38331  |   13192   |       3       |       10       |
+-------------+-----------+---------------+----------------+
Truncated to displaylimit of 10.

###  Auditor vs Surveyor Score Analysis (First Visit Only)

We filtered the comparison to only include first-time visits (`visit_count = 1`) to match the auditorâ€™s methodology. This revealed:

-  1518 scores matched exactly (94% agreement)
-  102 scores differed, indicating potential inconsistencies

### Step 1: Check for Source Type Agreement

In [32]:
%%sql
SELECT
  v.location_id,
  ar.type_of_water_source AS auditor_source,
  ws.type_of_water_source AS survey_source,
  v.record_id,
  ar.true_water_source_score AS auditor_score,
  wq.subjective_quality_score AS surveyor_score
FROM auditor_report ar
JOIN visits v ON ar.location_id = v.location_id
JOIN water_quality wq ON v.record_id = wq.record_id
JOIN water_source ws ON v.source_id = ws.source_id
WHERE v.visit_count = 1
  AND ar.true_water_source_score != wq.subjective_quality_score;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

102 rows affected.

+-------------+--------------------+--------------------+-----------+---------------+----------------+
| location_id |   auditor_source   |   survey_source    | record_id | auditor_score | surveyor_score |
+-------------+--------------------+--------------------+-----------+---------------+----------------+
|  AkRu05215  |        well        |        well        |   21160   |       3       |       10       |
|  KiRu29290  |     shared_tap     |     shared_tap     |    7938   |       3       |       10       |
|  KiHa22748  | tap_in_home_broken | tap_in_home_broken |   43140   |       9       |       10       |
|  SoRu37841  |     shared_tap     |     shared_tap     |   18495   |       6       |       10       |
|  KiRu27884  |        well        |        well        |   33931   |       1       |       10       |
|  KiZu31170  | tap_in_home_broken | tap_in_home_broken |   17950   |       9       |       10       |
|  KiZu31370  |     shared_tap     |     shared_tap     |   36864   |       3       |       10       |
|  AkRu06495  |        well        |        well        |   45924   |       2       |       10       |
|  HaRu17528  |        well        |        well        |   30524   |       1       |       10       |
|  SoRu38331  |     shared_tap     |     shared_tap     |   13192   |       3       |       10       |
+-------------+--------------------+--------------------+-----------+---------------+----------------+
Truncated to displaylimit of 10.

### Step 2: Confirm Integrity of Source Type
From our results, we saw that auditor_source and survey_source matched across all mismatched scores. That means:

** No misclassification of water source types

** Your previous analyses using type_of_water_source are still trustworthy

** Only the scores need re-evaluation

### Step 3: Clean Up Query (Remove Water Source Join)
Now that weâ€™ve validated the source types, we can simplify the query again:

In [33]:
%%sql
SELECT
  v.location_id,
  v.record_id,
  ar.true_water_source_score AS auditor_score,
  wq.subjective_quality_score AS surveyor_score
FROM auditor_report ar
JOIN visits v ON ar.location_id = v.location_id
JOIN water_quality wq ON v.record_id = wq.record_id
WHERE v.visit_count = 1
  AND ar.true_water_source_score != wq.subjective_quality_score;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

102 rows affected.

+-------------+-----------+---------------+----------------+
| location_id | record_id | auditor_score | surveyor_score |
+-------------+-----------+---------------+----------------+
|  AkRu05215  |   21160   |       3       |       10       |
|  KiRu29290  |    7938   |       3       |       10       |
|  KiHa22748  |   43140   |       9       |       10       |
|  SoRu37841  |   18495   |       6       |       10       |
|  KiRu27884  |   33931   |       1       |       10       |
|  KiZu31170  |   17950   |       9       |       10       |
|  KiZu31370  |   36864   |       3       |       10       |
|  AkRu06495  |   45924   |       2       |       10       |
|  HaRu17528  |   30524   |       1       |       10       |
|  SoRu38331  |   13192   |       3       |       10       |
+-------------+-----------+---------------+----------------+
Truncated to displaylimit of 10.

###  Source Type Validation

We compared `type_of_water_source` between the auditorâ€™s report and survey data for all mismatched scores. All records showed consistent classification, confirming:

- Our previous analyses based on source type remain valid
- Discrepancies are limited to scoring, not source identification

### Gathering some evidence

#### Step 1: Define the Incorrect_records CTE
This captures all mismatched scores from first-time visits and links them to employee names

In [37]:
%%sql
WITH Incorrect_records AS (
  SELECT
    v.location_id,
    v.record_id,
    e.employee_name,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score
  FROM auditor_report ar
  JOIN visits v ON ar.location_id = v.location_id
  JOIN water_quality wq ON v.record_id = wq.record_id
  JOIN employee e ON v.assigned_employee_id = e.assigned_employee_id
  WHERE v.visit_count = 1
    AND ar.true_water_source_score != wq.subjective_quality_score
)
SELECT * FROM Incorrect_records;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

102 rows affected.

+-------------+-----------+----------------+---------------+----------------+
| location_id | record_id | employee_name  | auditor_score | surveyor_score |
+-------------+-----------+----------------+---------------+----------------+
|  AkRu05215  |   21160   |   Rudo Imani   |       3       |       10       |
|  KiRu29290  |    7938   |  Bello Azibo   |       3       |       10       |
|  KiHa22748  |   43140   |  Bello Azibo   |       9       |       10       |
|  SoRu37841  |   18495   |   Rudo Imani   |       6       |       10       |
|  KiRu27884  |   33931   |  Bello Azibo   |       1       |       10       |
|  KiZu31170  |   17950   | Zuriel Matembo |       9       |       10       |
|  KiZu31370  |   36864   | Yewande Ebele  |       3       |       10       |
|  AkRu06495  |   45924   |  Bello Azibo   |       2       |       10       |
|  HaRu17528  |   30524   | Jengo Tumaini  |       1       |       10       |
|  SoRu38331  |   13192   | Zuriel Matembo |       3       |       10       |
+-------------+-----------+----------------+---------------+----------------+
Truncated to displaylimit of 10.

#### Step 2: Get Unique List of Employees

In [40]:
%%sql
WITH Incorrect_records AS (
  SELECT
    v.location_id,
    v.record_id,
    e.employee_name,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score
  FROM auditor_report ar
  JOIN visits v ON ar.location_id = v.location_id
  JOIN water_quality wq ON v.record_id = wq.record_id
  JOIN employee e ON v.assigned_employee_id = e.assigned_employee_id
  WHERE v.visit_count = 1
    AND ar.true_water_source_score != wq.subjective_quality_score
)
SELECT DISTINCT employee_name
FROM Incorrect_records;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

17 rows affected.

+----------------+
| employee_name  |
+----------------+
|   Rudo Imani   |
|  Bello Azibo   |
| Zuriel Matembo |
| Yewande Ebele  |
| Jengo Tumaini  |
|   Farai Nia    |
| Malachi Mavuso |
|  Makena Thabo  |
| Lalitha Kaburi |
|  Gamba Shani   |
+----------------+
Truncated to displaylimit of 10.

#### Step 3: Count Mistakes per Employee

In [43]:
%%sql

WITH Incorrect_records AS (
  SELECT
    v.location_id,
    v.record_id,
    e.employee_name,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score
  FROM auditor_report ar
  JOIN visits v ON ar.location_id = v.location_id
  JOIN water_quality wq ON v.record_id = wq.record_id
  JOIN employee e ON v.assigned_employee_id = e.assigned_employee_id
  WHERE v.visit_count = 1
    AND ar.true_water_source_score != wq.subjective_quality_score
)

SELECT
  employee_name,
  COUNT(*) AS number_of_mistakes
FROM Incorrect_records
GROUP BY employee_name
ORDER BY number_of_mistakes DESC;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

17 rows affected.

+----------------+--------------------+
| employee_name  | number_of_mistakes |
+----------------+--------------------+
|  Bello Azibo   |         26         |
| Malachi Mavuso |         21         |
| Zuriel Matembo |         17         |
| Lalitha Kaburi |         7          |
|   Rudo Imani   |         5          |
|   Farai Nia    |         4          |
|  Enitan Zuri   |         4          |
| Yewande Ebele  |         3          |
| Jengo Tumaini  |         3          |
|  Makena Thabo  |         3          |
+----------------+--------------------+
Truncated to displaylimit of 10.

###  Employee Score Discrepancy Analysis

We created a reusable CTE (`Incorrect_records`) to track mismatched scores between auditors and surveyors. This allowed us to:

- Identify 17 employees linked to discrepancies
- Count how many mismatches each employee made
- Reveal patterns of inconsistency

### Identify employees with above-average discrepancies and flag potential concerns.

#### Step 1: Create the Incorrect_records View
This view captures all mismatched scores and includes the auditorâ€™s statements:

In [45]:
%%sql
CREATE VIEW Incorrect_records AS
SELECT
  auditor_report.location_id,
  visits.record_id,
  employee.employee_name,
  auditor_report.true_water_source_score AS auditor_score,
  wq.subjective_quality_score AS surveyor_score,
  auditor_report.statements AS statements
FROM auditor_report
JOIN visits ON auditor_report.location_id = visits.location_id
JOIN water_quality AS wq ON visits.record_id = wq.record_id
JOIN employee ON employee.assigned_employee_id = visits.assigned_employee_id
WHERE visits.visit_count = 1
  AND auditor_report.true_water_source_score != wq.subjective_quality_score;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

#### Step 2: Define error_count CTE
This counts how many mismatches each employee has:

In [46]:
%%sql
WITH error_count AS (
  SELECT
    employee_name,
    COUNT(*) AS number_of_mistakes
  FROM Incorrect_records
  GROUP BY employee_name
)
SELECT * FROM error_count;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

17 rows affected.

+----------------+--------------------+
| employee_name  | number_of_mistakes |
+----------------+--------------------+
|   Rudo Imani   |         5          |
|  Bello Azibo   |         26         |
| Zuriel Matembo |         17         |
| Yewande Ebele  |         3          |
| Jengo Tumaini  |         3          |
|   Farai Nia    |         4          |
| Malachi Mavuso |         21         |
|  Makena Thabo  |         3          |
| Lalitha Kaburi |         7          |
|  Gamba Shani   |         3          |
+----------------+--------------------+
Truncated to displaylimit of 10.

#### Step 3: Calculate the Average Mistake Count

In [47]:
%%sql
WITH error_count AS (
  SELECT
    employee_name,
    COUNT(*) AS number_of_mistakes
  FROM Incorrect_records
  GROUP BY employee_name
)
SELECT AVG(number_of_mistakes) AS avg_error_count_per_empl
FROM error_count;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+--------------------------+
| avg_error_count_per_empl |
+--------------------------+
|          6.0000          |
+--------------------------+

#### Step 4: Identify Suspect Employees

In [49]:
%%sql
WITH error_count AS (
  SELECT
    employee_name,
    COUNT(*) AS number_of_mistakes
  FROM Incorrect_records
  GROUP BY employee_name
)
SELECT
  employee_name,
  number_of_mistakes
FROM error_count
WHERE number_of_mistakes > (
  SELECT AVG(number_of_mistakes)
  FROM error_count
)
ORDER BY number_of_mistakes DESC;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

4 rows affected.

+----------------+--------------------+
| employee_name  | number_of_mistakes |
+----------------+--------------------+
|  Bello Azibo   |         26         |
| Malachi Mavuso |         21         |
| Zuriel Matembo |         17         |
| Lalitha Kaburi |         7          |
+----------------+--------------------+

###  Suspect List: Above-Average Discrepancy Analysis

We created a view (`Incorrect_records`) to track mismatched scores and auditor statements. Then we:

1. Counted mistakes per employee (`error_count`)
2. Calculated the average mistake count
3. Flagged employees with above-average discrepancies

This forms our initial suspect list, a data-driven foundation for further investigation.

### Final Query: Flagging Suspect Employees Based on Score Discrepancies and Statements

In [51]:
%%sql
-- Step 1: Count mistakes per employee
WITH error_count AS (
  SELECT
    employee_name,
    COUNT(*) AS number_of_mistakes
  FROM Incorrect_records
  GROUP BY employee_name
),

-- Step 2: Identify employees with above-average mistake count
suspect_list AS (
  SELECT
    employee_name,
    number_of_mistakes
  FROM error_count
  WHERE number_of_mistakes > (
    SELECT AVG(number_of_mistakes) FROM error_count
  )
)

-- Step 3: Filter Incorrect_records for suspect employees and suspicious statements
SELECT
  employee_name,
  location_id,
  statements
FROM Incorrect_records
WHERE employee_name IN (SELECT employee_name FROM suspect_list)
  AND statements LIKE '%cash%';

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

19 rows affected.

+----------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| employee_name  | location_id |                                                                                              statements                                                                                              |
+----------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Zuriel Matembo |  SoRu38331  |      An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.       |
| Malachi Mavuso |  AmAm09607  |            Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.            |
|  Bello Azibo   |  KiIs23853  |            Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception.            |
|  Bello Azibo   |  HaSe21323  |            Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.            |
| Zuriel Matembo |  AkRu05880  |               Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism.               |
|  Bello Azibo   |  KiRu27065  |           Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.            |
| Malachi Mavuso |  KiRu25347  |              Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.              |
| Zuriel Matembo |  SoIl32575  | Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust. |
|  Bello Azibo   |  AkRu04508  |      An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.       |
| Lalitha Kaburi |  AkRu07310  |                Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.                 |
+----------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.

### What This Reveals
Weâ€™ve flagged Zuriel Matembo, Malachi Mavuso, Bello Azibo, and Lalitha Kaburi as having:

Above-average discrepancies in water quality scoring

Auditor-recorded statements that mention cash, suggesting possible bribery or misconduct

No other employees had statements mentioning "cash" â€” strengthening the case for focused investigation

###  Integrity Audit Summary

We analyzed discrepancies between auditor and surveyor scores, then filtered for employees with above-average mistake counts. Cross-referencing with auditor statements revealed:

- **4 employees** ( Zuriel Matembo, Malachi Mavuso, Bello Azibo, and Lalitha Kaburi ) with both statistical anomalies and suspicious qualitative evidence
- **No other employees** had statements mentioning "cash"

This is not conclusive proof of corruption, but it is serious enough to warrant escalation.